*{
    margin : 0;
    padding : 0;
}


body{

    box-sizing: border-box;
    min-height: 700px;
    
    
    
}
header{
background: white;
width : 100%;
text-align: center;
}
img#imageheader{

    width: 50%;
    height: 150px;
    opacity: 0.3;

}
main{
    min-height: 600px;
    
    background: url(../images/mathbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
   
#container{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    /*border: solid 1px;*/
    
}

.case{
position: relative;
width: 150px;
height: 150px;
border : solid 1px;
background-color: black;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;

}

#case1{
    float: right;
    border-radius: 5px;
    margin-top: 30%;
    
}
#case0{

  float: left;
  margin-top: 30%;
  
}
a#revision{

  
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}
a#test{

   
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}

a{
    text-transform: uppercase;
    color: orangered;
    text-decoration: none;
    font-weight: bold;
}
a#test1{

    border: solid;
}

input.resultat{
    background-color: white;
    width: 76px;
    height: 36px;
    color: green;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input{

    color:white;
}
p{

    color:orangered;
    font-size: 20px;
    font-weight: bold;
}
footer{
    text-align: center;
    background-color: #43494e;
    height: 150px;
    width: 100%;
}
#text{

    color: white;
}